var DayCareMap = React.createClass({
	getInitialState: function() {
		return {
			map: null
		}
	},

	componentDidMount: function() {
		var myLatlng;
		var mapOptions;
		if (this.props.isLoading) {
			myLatlng = new google.maps.LatLng(37.4292, -122.1381);
			mapOptions = {
				zoom: 12,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				navigationControl: false,
			    scaleControl: false,
			    draggable: false,
			    mapTypeControl: false,
				styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
			};
		} else {
			myLatlng = new google.maps.LatLng(37.4292, -122.1381);
			mapOptions = {
				zoom: 12,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				navigationControl: true,
			    scaleControl: true,
			    draggable: true,
				styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
			};
		}
		// Use Google JS Stuff to init a map in the div
		var newMap = new google.maps.Map(document.getElementById("map"),
		    mapOptions);
		this.setState({map: newMap});
	},

	componentWillReceiveProps: function(nextProps) {
		var map = this.state.map;
		var bounds = new google.maps.LatLngBounds();
		var iconImage = "<%= image_path('icon.png') %>";
		if (nextProps.isLoading !== this.props.isLoading) {
			if(nextProps.isLoading) {
				map.set('navigationControl', false);
				map.set('scaleControl', false);
				map.set('draggable', false);
				map.set('styles', [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]);
			} else {
				map.set('navigationControl', true);
				map.set('scaleControl', true);
				map.set('draggable', true);
				map.set('styles', [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]);
				// get marker for each daycare
				for (var i = 0; i < nextProps.data.length; i++) {
					var lat = parseFloat(nextProps.data[i].latitude);
					var long = parseFloat(nextProps.data[i].longitude);
					var marker = new google.maps.Marker({
					    position: {lat: lat, lng: long},
					    map: map,
					    icon: iconImage,
					    title: nextProps.data[i].name
					  });
					marker.setMap(map);
					//extend the bounds to include each marker's position
  					bounds.extend(marker.position);
  					//now fit the map to the newly inclusive bounds
					map.fitBounds(bounds);
					// restore the zoom level after the map is done scaling
					map.setZoom(12);
				}
				
			}
		}
	},

	render: function() {
		return (
			<div className="hidden-xs col-sm-7 col-md-5" id="map">
			</div>
		);
	}
});