<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 visible-xs">
			<button class="btn btn-primary filter">Filter</button>
		</div>
	</div>

	<%= react_component 'ListingsAndMapWrapper', { data: @day_cares } %>

</div>
