<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-7 filter">
			<button class="btn btn-lg btn-danger">Filter</button>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-7">
			<% @day_cares.each do |day_care| %>
			<div class="row">
				<div class="col-xs-12">
					<h3 class="daycare-name"><%= day_care.name %></h3>
					
					<%= day_care.description %>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-5">
			Map.
		</div>
	
	</div>
</div>
