// Place all the styles related to the DayCares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.filter {
	text-align: center;
}

#filters {
    margin-bottom: 50px;
    .row {
        background-color:white;
    }
    label {
        margin-bottom: 10px; 
        text-align: center;
        @media (min-width: $screen-sm) {
            text-align: left;
        }
    }
    .filter-label {
        position: relative;
        padding-top: 15px;
        padding-bottom: 35px;
        border-top: 1px solid #dce0e0;
    }
    .filter-label.last {
        border-bottom: 1px solid #dce0e0; 
        padding-bottom: 15px;
    }
    span {
        position: absolute; 
        font-size: 12px;
        margin-top: 5px
    }
    span.label-min {
        left: 10px;
    }
    span.label-max {
        right: 10px;
    }
}

input[type=range] {
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    /* Specific width is required for Firefox. */
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: $rose;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: shade($dayroom-yellow, 5);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: tint($rose, 15);
}

/* Slider for firefox */

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: $rose;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: shade($dayroom-yellow, 5);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

.btn.btn-primary {
	border-color: shade($rose, 10);
    border-bottom-color: $crimson;
    background-color: $rose;
    color: white;
    display: block;
    white-space: normal;
    width: 100%;
    border-radius: 2px;
}
	
h3.daycare-name {
	color: $apple;
}


#wrapper {
	overflow:hidden;
    height: auto;
    position:relative;
    background-color: #F7F7F7;
}

.left-side {
    // TODO get height in JS
    height: 500px;
    overflow-y: scroll;
}

#listings {
	float:left;
}
#map {
	height:500px;
    position:absolute;
    right:0px;
}

.streetview-img {
    height: 250px;
    @media (min-width: $screen-sm) {
        height: 180px;  
    }
}