

.filter {
    text-align: center;
}

#filters {
    margin-bottom: 0;
    .row {
        background-color:white;
        border-bottom: 1px solid #dce0e0; 
        &.last {
            border-bottom: 1px solid #dce0e0; 
        }
    }
    label {
        margin-bottom: 10px; 
    }
    .filter-label {
        position: relative;
        padding-top: 15px;
        padding-bottom: 35px;
    }
    .filter-label.last {
        padding-bottom: 15px;
    }
    .filter {
        width: 80%;
        text-align: left;
         @media (min-width:992px) {
            text-align: center;
            width: 70%;
        }
        margin: auto;
    }
    span.slider-label {
        position: absolute; 
        font-size: 12px;
        margin-top: 5px
    }
    span.label-min {
        left: 50px;
         @media (min-width:992px) {
            left: 100px;
        }
        
    }
    span.label-max {
        right: 50px;
        @media (min-width:992px) {
            right: 100px;
        }
    }

    input[type=range] {
        -webkit-appearance: none;
        /* fix for FF unable to apply focus style bug  */
        border: 1px solid white;
        /* Specific width is required for Firefox. */
        width: 100%;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: $rose;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: shade($dayroom-yellow, 5);
        margin-top: -4px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: tint($rose, 15);
    }

    /* Slider for firefox */

    input[type=range]::-moz-range-track {
        width: 300px;
        height: 5px;
        background: $rose;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: shade($dayroom-yellow, 5);
    }

    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring{
        outline: 1px solid white;
        outline-offset: -1px;
    }

    input[type=range]:focus::-moz-range-track {
        background: #ccc;
    }

    input[type=checkbox] {
        margin-right: 8px;
    }
}



.btn.btn-primary {
    border-color: shade($rose, 10);
    border-bottom-color: $crimson;
    background-color: $rose;
    color: white;
    display: block;
    white-space: normal;
    width: 100%;
    border-radius: 2px;
}

.dayCareItem {
    padding-bottom: 10px;
    /* Loading states */
    .h3-bar {
        width: 200px;
        height: 24px;
        background-color: tint($apple, 75);
        margin-top: 30px;
    }

    .h6-bar {
        width: 150px;
        height: 16px;
        background-color: tint($default-text, 75);
        margin-top: 30px;
    }

    .p-bar {
        width: 200px;
        height: 12px;
        background-color: tint($default-text, 85);
    }

    .blank-img {
        height: 180px;
        width: 270px;
        background-color: shade($fawn, 10);
    }
    /* regular states */

    h6 {
        font-size: 15px;
        text-transform: capitalize;
    }

    h3.daycare-name {
        color: $apple;
        margin-top: 30px;
        font-weight: 200;
    }

    &.highlighted {
        background-color: #F1EFEF;
        h3 {
            font-weight: 400;
            color: tint($apple, 15);
        }
    }

    a {
        color: $rose;
    }
}



#wrapper {
    overflow:hidden;
    height: auto;
    position:relative;
    background-color: #FbFbFb;
}

#left-side {
    // Starting height. Gets overwritten in JS
    height: 500px;
    overflow-y: scroll;
}

#map {
    height:500px;
    position:absolute;
    right:0px;
}