a.navbar-brand {
	padding: 0;
	margin-right: 15px;
	img {
		height: 57px;
		@media (min-width: $screen-sm) {
			height: 51px;
		}
	}
}

.navbar-toggle {
	margin: 8px 0 8px 15px;
	background-color: tint($dayroom-yellow, 15);
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $dayroom-yellow;
}

.navbar-default .navbar-form {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
}

.navbar-form.desktop-search {
    margin-top: 8px;
}

#home-name {
	font-size: 30px;
    color: $rose;
}